@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #212b36;
  --text-secondary: #6b6f76;
  --font-inter: "Inter", "Arial", "Helvetica", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);

  --color-border-gray: #dfe1e4;

  --color-background-primary: #f8f9fb;
  --color-background-secondary: #eff1f4;

  --font-sans: var(--font-inter);
}

@layer components {
  .text-custom-xs {
    font-family: var(--font-inter);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .text-custom-xl {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: var(--text-primary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  box-sizing: border-box;
}

/* react color pickup */
.w-color-saturation {
  border: 1px solid var(--color-border-gray) !important;
  margin-bottom: 16px;
  border-radius: 8px !important;

  & > div:first-child {
    height: 32px !important;
    width: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    background-image: none !important;
    border: 1px solid var(--color-border-gray) !important;

    & > div:first-child {
      height: 16px !important;
      width: 16px !important;
    }
  }
}

.w-color-alpha-horizontal {
  height: 12px !important;

  & > div:first-child {
    border-radius: 24px !important;
  }

  & .w-color-interactive > div:first-child {
    transform: translate(-16px, -9px) !important;
    height: 32px !important;
    width: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff !important;
    background-image: none !important;
    box-shadow: none !important;
    border: 1px solid var(--color-border-gray) !important;

    & > div:first-child {
      height: 16px !important;
      width: 16px !important;
    }
  }
}
