@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #212b36;
  --font-inter: "Inter", "Arial", "Helvetica", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-text-primary: var(--text-primary);

  --color-border-gray: #dfe1e4;

  --color-background-primary: #f8f9fb;
  --color-background-secondary: #eff1f4;

  --font-sans: var(--font-inter);
}

@layer components {
  .text-custom-xs {
    font-family: var(--font-inter);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .text-custom-xl {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: var(--text-primary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  box-sizing: border-box;
}
